html, body, #app {
  /* TODO To get Cesium bottom-edge controls to move with window height, Dan added "#app". Is that "right"? */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}